/* 
    @package hotaltheme
*/

/* 
	Import
	------------------------------------------------
*/

@import 'base/fonticon';		// Font Icons

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}